*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}
input::placeholder{
    font-size: 15px;
}

.h2{
    color: #fff;
    padding: 15px;
    font-weight: 700;
    
}


.header{
    position: relative;
    background-image: url(/img/pexels-eberhard-grossgasteiger-1183021.jpg);
    color: #fff;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;

}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    font-size: 25px;
    position: fixed;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.word {
    padding-left: 15px;
    font-weight: 500;
}

.search-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: darkgray;
}

.search{
    background-color: #fff;
    color: darkgray;
    padding: 10px 20px;
    border-radius: 5px;
    width: 40%;
    display: flex;
    align-items: center;
    height: auto;
}

.search-icon{
    padding-right: 20px;
}
#search-result{
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 900;
    
}

/* Image Grid */ 

.container{
    padding: 10px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
   
}

.card{
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgb(233, 233, 233);
    position: relative;
}

.card > p, span {
    padding-left: 10px;
}


.img-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    transition: 0.5s ease-in-out transform;
}

.img-wrapper img:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.pop-up-wrapper{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(141, 135, 135, 0.7);
    display: none;
}

.pop-up{
    left: 50%;
    top:50%;
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    height: auto;
    max-height: 80vh;
    transform: translate(-50%,-50%);
    position: fixed;
    border: black 1px solid;
    background-color: white;
    cursor: pointer;
}

.pop-up img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


/* Responsive version */

@media only screen and (max-width:1100px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
       
    }
}


@media only screen and (max-width:700px){
    
    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 15px;
        font-size: 18px;
        position: fixed;
        width: 100%;
    }
    
    .word {
        padding-left: 15px;
        font-weight: 500;
    }

    .h2{
        font-size: 13px;
        padding-left: 0px;
    }

    .search-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: darkgray;
    }
    .search{
        background-color: #fff;
        color: darkgray;
        padding: 5px 10px;
        border-radius: 5px;
        width: 50%;
        display: flex;
        align-items: center;
        height: auto;
    }

    .search-icon{
        padding-right: 10px;
        font-size: 13px;
    }
    
    input::placeholder{
        font-size: 13px;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

}

.loading-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1200;
    background-color: white;
}